/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-white via-green-500 to-white;
}

/* .bg-image {
  background-image: url('../src/assets/backgroundv1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-bg {
  position: relative;
  overflow: hidden;
} */

.blur-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('src/assets/backgroundv3.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}

.btn2 {
  min-height: 50px;
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  display: flex;
  text-align: center;
  align-items: center;
  font-family: Bebas Neue;
  font: bold;
  gap: 10px;
  padding: 10px 60px;
  border-radius: var(--radius-6);
  transition: var(--transition-1);
}
.btn2:hover {
  background: #ff96ad;
  box-shadow: 0 0 5px #ffffff, 0 0 25px #e7e7e7, 0 0 50px #fbfbfb, 0 0 200px #ffffff;
  color: black;
}


/* NEW TEXT FORMAT */


.urmom {
color: #FFF;
text-align: center;
text-shadow: 0px 12px 56px rgba(0, 0, 0, 0.25);
font-family: Bebas Neue;
font-size: 160px;
font-style: normal;
font-weight: 700;
line-height: 78%; /* 124.8px */
letter-spacing: -2.4px;
text-transform: capitalize;
}

.urmom1 {
color: #FFF;
text-align: center;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.listfeatures {
color: #FFF;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 50px;
}
.features-title {
  font-weight: bolder;
}

/* FLOAT IN ANIMATIONS */
@keyframes floatInAnimation {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.float-in-on-scroll {
  opacity: 0; /* initially hide the element */
  animation-name: floatInAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}


/* MY MODIFICATIONS */
.text-left {
  text-align: left !important;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-80%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-80%);
    opacity: 0;
  }
}

.enter-from-left {
  animation: slideInFromLeft 1s forwards;
}

/* .exit-to-left {
  animation: slideOutToLeft 2s forwards;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  position: relative;
  width: 600px;
  height: 450px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(135deg, #1ed445, #491f8f);
}

.card img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  transition: 0.5s;
}

.card:hover img {
  left: 80%;
  height: 500px;
}
.card:hover content {
  left: 100%;
  height: 500px;
}

.card .content {
  position: relative;
  width: 50%;
  left: 10%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.card:hover .content {
  left: 20px;
  opacity: 1;
  visibility: visible;
}

.card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
}

.card .content p {
  color: #fff;
}

.card .content a {
  position: relative;
  display: inline-block;
  color: #111;
  padding: 5px 5px;
  border-radius: 10px;
  background: #fff;
  margin-top: 10px;
  text-decoration: none;
}

/* mobile css  */
@media (max-width: 991px){
  .card {
    position: relative;
    width: auto;
    max-width: 600px;
    transition: 0.5s;
    align-items: flex-start;
  }

  .card:hover {
    height: 600px;
  }

  .card:hover img{
    left: 55%;
    height: 350px;
  }

  .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}

@media (max-width: 420px){
  .card .content {
    padding: 30px;
  }
  .card:hover img{
    height: 300px;
  }
}

@media (min-width: 991px){
.card:hover .content {
  left: -140px;
  opacity: 1;
  visibility: visible;
}
}


/* AGENCY TEXT MAIN  */
.big-hidden {

}

.background-text-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Assuming you want the text to take up the full viewport height, adjust as needed */
}

.background-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 35vw; */
  font-weight: bold;
  z-index: 1;
  /* animation: fadeInOut 5s infinite; */
  animation: spacingIn 1s forwards;
}
.background-text {
  font-size: 35vw;
  animation: spacingIn 1s forwards;
}

.background-text-elr {
  font-size: 25vw;
  animation: spacingIn 1s forwards;
}

/* @keyframes fadeInOut {
  0%   { opacity: 0.5; }
  50%  { opacity: 1; }
  100% { opacity: 0.5; }
} */

.ontop-image {
  z-index: 2;
}

@keyframes spacingIn {
  0% {
      letter-spacing: 5vw;
  }
  100% {
      letter-spacing: normal;
  }
}

.responsiveAstronaut {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 450px) {
  .responsiveAstronaut {
      background-image: url('[../assets/mac-big.png]');
  }
}

@media (min-width: 451px) {
  .responsiveAstronaut {
      background-image: url('[../assets/mac-big.png]');
  }
}

/* No padding for larger screens by default */
.responsiveAstronaut {
  padding-bottom: 0px;
  padding-top: 0px;
}

/* Add padding for screens up to 640px wide */
@media (max-width: 640px) {
  .responsiveAstronaut.small-screen-padding {
      padding-top: -10px;
  }
  .smally {
    visibility: hidden;
  }
}

/* @media (max-width: 640px) {
  .btn-small {
    visibility: hidden;
  }
} */


/* AUTOMATION INTRO SECTION */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

/* active state, fully visible and in its normal position */
.fade-up.active {
  opacity: 1;
  transform: translateY(0);
}



/* LIST */

section .listfeatures .item-content {
  display: flex;
  align-items: stretch;  /* Make sure the items take the full height */
}

.features-icon {
  margin-right: 10px;
  flex: 0 0 auto;  /* Don't allow the icon to shrink or grow, and don't let it base its size on content */
  font-size: calc(100% + 16px);  /* Adjust this value to make the icon larger */
  display: flex;
  align-items: center;  /* Vertically center the icon */
  justify-content: center;  /* Horizontally center the icon */
}
section .listfeatures {
  list-style: none;
}

section .listfeatures li {
  background-color: #2a2f45;
  color: white; /* Given text color to contrast against the dark background */
  margin-top: 16px;
  padding: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}

section .listfeatures .features-title {
  font-weight: bold;
  display: flex; /* Added */
  align-items: center; /* Added */
}

section .listfeatures li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


/* PLUSBEAU PAGE */
.sub-title {
color: #FFF;
text-align: center;
text-shadow: 0px 12px 56px rgba(0, 0, 0, 0.25);
font-family: Bebas Neue;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: 78%; /* 124.8px */
letter-spacing: -2.4px;
text-transform: capitalize;
margin-top: 0% !important;

}



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { font-size: var(--fs-6);
 }
.footer-mg {
  margin: 40px;
}

.fooot {
  background-color: #1f2937;
}

.footer-top .container {
  display: grid;
  gap: 50px;
}

.footer .logo { color: var(--white); }

.footer-brand-text { margin-block: 25px; }

.footer-top .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.footer-brand-list li:not(:last-child) { margin-block-end: 15px; }

.footer-brand-title,
.footer-list-title {
  color: var(--white);
  font-family: var(--ff-catamaran);
}

.footer-list-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-800);
  margin-block-end: 28px;
}

.footer-list-title::before {
  bottom: 0;
  width: 70px;
  height: 1px;
  background-color: var(--coquelicot);
}

.footer-list > li:not(:first-child) { margin-block-start: 12px; }

.footer-link { transition: var(--transition-1); }

.footer-link:not(.address):is(:hover, :focus) { color: var(--coquelicot); }

.footer-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.footer-list-item .icon {
  background-color: var(--coquelicot);
  color: var(--white);
  font-size: 24px;
  padding: 8px;
  border-radius: 50px;
}

.footer-form {
  position: relative;
  margin-block-end: 30px;
}

.footer-form .input-field {
  background-color: var(--white);
  color: var(--rich-black-fogra-29-1);
  padding-block: 18px;
  padding-inline: 30px 80px;
  border-radius: var(--radius-10);
  background-color: white;
}

.footer-form .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0;
  font-size: 26px;
  padding-inline: 12px;
}

.footer-form .btn-primary:is(:hover, :focus) {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--white);
  box-shadow: none;
}

.social-list {
  display: flex;
  gap: 15px;
}

.social-link {
  background-color: var(--white_20);
  color: var(--white);
  padding: 13px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) { background-color: var(--coquelicot); }

.footer-bottom {
  background-color: var(--rich-black-fogra-29-2);
  color: var(--white);
  text-align: center;
  padding-block: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--coquelicot);
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block-start: 10px;
}

.footer-bottom-link {
  padding-inline-start: 20px;
  transition: var(--transition-1);
}

.footer-bottom-link::before {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--coquelicot);
  border-radius: 50%;
}

.footer-bottom-link:is(:hover, :focus) { color: var(--coquelicot); }
 
/**
   * FOOTER
   */
   @media (min-width: 768px) {
   .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom-list { margin-block-start: 0; }


}

@media (min-width: 992px) {
  /**
   * FOOTER
   */

   .footer-top .container {
    grid-template-columns: 0.85fr 0.5fr 1fr 0.85fr;
    column-gap: 50px;
  }

}

@media (min-width: 1200px) {
    /**
   * FOOTER
   */

   .footer-top .container { grid-template-columns: 1fr 0.6fr 0.9fr 1fr; }

  }



/* Fade up animation */
.fade-in-up {
  opacity: 1 !important;
  transform: translateY(0) !important;
  visibility: visible !important;
}


@keyframes shake {
  0%, 9%, 100% {
    transform: translateX(0);
  }
  2%, 4%, 6%, 8% {
    transform: translateX(-10px);
  }
  3%, 5%, 7%, 9% {
    transform: translateX(10px);
  }
  0%, 100% {
    transform: translateX(0);
    color: initial;
  }
  2%, 4%, 6%, 8% {
    transform: translateX(-10px);
    color: rgb(236, 158, 158).200;
  }
  3%, 5%, 7%, 9% {
    transform: translateX(10px);
    color: white;
  }
}

.sub-title {
  display: inline-block;
  animation: shake 12s ease-in-out infinite 10s;
}