			<!-- About Start -->
<section class="px-16 absolut grid h-full">
    <section class="">
        <!-- <section class="marginnnn p-4"> -->
            <div class="container-xxl ">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <h1 class="mb-6 text-3xl font-bold gradient-text sm:text-4xl sm:leading-snug 2xl:text-[40px]"><span class="tmb-6 text-3xl font-bold gradient-text sm:text-4xl sm:leading-snug 2xl:text-[40px]">ELR Agency</span> Est Le Meilleur Allié des PME</h1>
                            <p class="mb-4">Notre but est de vous fournir tous les outils nécessaires pour vous permettre <span class="text-primary">de passer au niveau supérieur</span> sans complications.</p>
                            <div class="row g-4 mb-3 pb-3">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="d-flex">
                                        <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                            <!-- <span class="fw-bold text-secondary">01</span> -->
                                        </div>
                                        <div class="ps-3">
                                            <h6 class="fw-bold text-base leading-relaxed text-secondary"><b>Étape #1: Nous comprenons vos besoins et votre entreprise</b></h6>
                                            <span class="mb-9 text-base leading-relaxed text-body-color">Nous comprenons ce que vous faites, votre spécialisation et vos différents services afin de vous offrir un service adapté à vos besoins.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="d-flex">
                                        <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                            <!-- <span class="fw-bold text-secondary">02</span> -->
                                        </div>
                                        <div class="ps-3">
                                            <h6 class="fw-bold text-secondary"><b>Étape #2: Nous créons votre identité digitale</b></h6>
                                            <span>En se basant sur ce que nous avons découvert, nous créons un site internet et une identité de marque calquée sur votre propre vision.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="d-flex">
                                        <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                            <!-- <span class="fw-bold text-secondary">03</span> -->
                                        </div>
                                        <div class="ps-3">
                                            <h6 class="fw-bold text-secondary"><b>Étape #3: Nous vous obtenons des clients</b></h6>
                                            <span>Une fois votre accord reçu, nous mettons en ligne votre site et les réseaux sociaux et faisons en sorte de vous obtenir des clients.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#contact" class="btn btn-primary">Débutez Maintenant<i class="fa fa-arrow-right ms-3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

<!-- About End -->

<style>
    .marginnnn !important {
        margin: 40px;
        font-family: 'Poppins', sans-serif;
    }
    .greeen {
        font-size: large;
    }
    .text-primary {
        font-family: 'Poppins', sans-serif !important;
        font-weight:600; 

    }
</style>