			<!-- About Start -->
<section class="marginnnn">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h6 class="text-primary text-uppercase">// À Propos //</h6>
                    <h1 class="mb-4"><span class="text-primary">ELR Agency</span> Est Le Meilleur Allié des PME</h1>
                    <p class="mb-4">Notre but est de vous fournir tous les outils nécessaires pour vous permettre <span class="text-primary">de passer au niveau supérieur</span> sans complications.</p>
                    <div class="row g-4 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <!-- <span class="fw-bold text-secondary">01</span> -->
                                </div>
                                <div class="ps-3">
                                    <h6 class="fw-bold text-secondary">Étape #1: Nous comprenons vos besoins et votre entreprise</h6>
                                    <span>Nous comprenons ce que vous faites, votre spécialisation et vos différents services afin de vous offrir un service adapté à vos besoins.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <!-- <span class="fw-bold text-secondary">02</span> -->
                                </div>
                                <div class="ps-3">
                                    <h6 class="fw-bold text-secondary">Étape #2: Nous créons votre identité digitalel</h6>
                                    <span>En se basant sur ce que nous avons découvert, nous créons un site internet et une identité de marque calquée sur votre propre vision.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <!-- <span class="fw-bold text-secondary">03</span> -->
                                </div>
                                <div class="ps-3">
                                    <h6 class="fw-bold text-secondary">Étape #3: Nous vous obtenons des clients</h6>
                                    <span>Une fois votre accord reçu, nous mettons en ligne votre site et les réseaux sociaux et faisons en sorte de vous obtenir des clients.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="propos" class="btn btn-primary">En Apprendre Davantage<i class="fa fa-arrow-right ms-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->

<style>
    .marginnnn {
        margin: 40px;
    }
    .greeen {
        font-size: large;
    }
</style>