<section id="about2" class="scrollspy-section padding-xlarge">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="section-header">
                    <div class="title">
                        <span>who are we</span>
                    </div>
                    <h2 class="section-title">About Us</h2>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <figure class="jarallax-keep-img">
                    <img src="images/singleimage.jpg" alt="about us" class="jarallax-img single-image">
                </figure>
            </div>
            <div class="col-md-6 description text-lead">
                <p><strong>Amet, consectetur adipiscing elit. Commodo viverra eu volutpat amet, leo ultrici non
                        senectus odio dolor. Id at urna non porttitor elentum. Viverra senectus lorem ipsum dolor
                        sit adui ultricies dolor varius nibh velit viverra euen.</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo viverra eu volutpat amet, leo
                    non senetus odio dolor. Id at urna non portitor etum. Vivera senectus elit dui ultricies dolor.
                    Varius nibh velit pellentesque sapien, sapien neque dignissim.</p>
                <p>Commodo vivera eu volutpat amet, leo non senectus odio dolor. Id at urna non porttitor elementum.
                    Viverra senectus dui ultricies dolor.</p>

                <div class="btn-wrap">
                    <a href="#" class="btn btn-accent btn-xlarge btn-rounded">View my portfolio</a>
                </div>

            </div>

        </div>

    </div>
</section>

<style>
    /*----- About us Section
--------------------------------------------------------------*/
#about2 figure {
  margin-right: 50px;
}

#about2 img.single-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  #about2 img.single-image {
    height: auto;
  }
}

.text-lead {
  font-size: 120%;
  line-height: 1.7em;
}

.text-lead strong {
  font-size: 115%;
  font-weight: 500;
}
</style>