<section class="rolling-banner">
    <div class="banner" id="banner">
        <p> PROMOTION <span>EN CE MOMENT</span> <span class="asterisk">*</span>  <span>NE PAYEZ PAS LE DESIGN DE VOTRE SITE</span> <span class="asterisk">*</span> <span></span>
        </p>
        <!-- <p> THE TIME IS <span>23:24</span> <span class="asterisk">*</span> THE DATE IS <span>SUNDAY SEP 27TH 2023</span> <span class="asterisk">*</span> THIS SITE HAS <span>0 LIKES</span>
        </p> -->
      </div>
</section>
