---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import ContentSection from "~/components/ct-section2.astro";
import astronautImage from "~/assets/mountain.png";
import Bgimage2 from "~/components/bg-image.astro";
import Aboutimg from "~/assets/about-image.svg";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---
<section class="relative h-full">

  <div class="p-4 sm:p-8 absolute grid h-full ">
    <ContentSection 
        title="Les PME ne sont pas bien équippés pour réussir, nous pouvons changer cela." 
        id="intro" 
        >
    
        <Fragment class="">
            Ayant complété des études en entreprenariat au Cégep de Champlain, un DEP en lancement d'entreprise et conclu avec un Baccalauréat en administration des affaires avec une majeure en marketing à une université australienne, je suis confiant de dire que je peux vous aider à faire grandir votre entreprise. 
        </Fragment>
        <div class="flex justify-center"> <!-- Flex container to center the button horizontally -->
          <a href="#contact" 
              class="inline-block btn-small text-white bg-red-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-4 py-1 text-center dark:text-white dark:focus:ring-purple-900 btn2">
              SE METTRE EN LIGNE
          </a>
      </div>
    </ContentSection>
    
  </div>
</section>

