---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Votre partenaire",
    description:
      "Notre but est de vous fournir tous les outils pour vous permettre de faire croitre votre entreprise au Québec et vous faciliter la vie.",
    icon: "mdi:handshake",
  },
  {
    title: "Une plateforme web",
    description:
      "Une des premières choses que nous vous offrons est une plateforme web pour vous permettre de capturer une nouvelle part de marché.",
    icon: "mdi:search-web",
  },
  {
    title: "La référence",
    description:
      "En utilisant l’intelligence artificielle, nous sommes en mesure de vous placer en tant qu’experts dans votre domaine aux yeux de vos clients potentiels.",
    icon: "mdi:feather",
  },
  {
    title: "Des Intégrations",
    description:
      "Que ce soit la gestion d’employés, les ventes, la gestion de contrats ou la comptabilité nous pouvons vous appuyer et vous faciliter la vie.",
    icon: "mdi:graph",
  },
  {
    title: "Services Divers",
    description:
      "Que ce soit la mise en place d’un courriel d’entreprise avec une liste de courriel ou un processus de facturation, nous pouvons vous aider.",
    icon: "mdi:directions-fork",
  },

  {
    title: "Gestion de clients",
    description:
      "En faisant affaire avec nous, nous assurons de mettre vos clients au premier rang et d’améliorer leurs satisfactions lorsqu’ils vous appellent.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Ce Que Nous Pouvons Faire" id=offre>
  <ul class="fadeIn grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3 fadeInDown">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>



</section>
