---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "/",
    description: "Agence ELR",
    icon: "mdi:home",
  },
  {
    url: "https://www.linkedin.com/in/edouard-l-458410137/",
    description: "Mon profil Linkedin",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://www.facebook.com/agenceelr",
    description: "Astro on Discord",
    icon: "fa-brands:facebook",
  },
  // {
  //   url: "https://twitter.com/astrodotbuild",
  //   description: "Astro on Twitter",
  //   icon: "fa-brands:twitter",
  // },
];
---

<footer class="fooot relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40 foot-black">
    <!-- <HeroImage /> -->
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
            target="_blank"
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>

  <ul class="footer-list">

    <li>
      <p class="footer-list-title has-before">Restez Connecté</p>
    </li>

    <li>
      <form action="https://api.smtprelay.co/contact/add?version=2" method="post" id="ewf_subscriptionForm_QJDNywnAyx" class="EWF__form Inline footer-form">
          <div class="headers" style="display: none;">
              <h4 id="ewf_formheader" class="EWF__header" style="display: none;">
              </h4>
              <p id="ewf_formdesc">Enter specific and clear language on the intended use of the collected information.
              </p>
          </div>
          <input style="color: black !important;" type="email" name="email" aria-label="email" placeholder="Votre Courriel" required="" class="form-control input-field">
          <div class="webform-lists" style="display: none;">
              <div style="display:flex;" class="checkboxes js-Subscribe to newsletter">
                  <label class="container-box">
                      <input type="checkbox" name="publiclistid" id="FQkGOQny" value="cc3f17bf-ba53-4a46-a1a4-d9247663398c" checked="checked">
                  </label>
                  <label class="publiclistlabel" for="FQkGOQny">Restez au Courant
                  </label>
              </div>
          </div>
          <div class="consent">
          </div>
          <p id="ewf_datadisclaimer">
          </p>
          <input type="hidden" name="publicaccountid" value="84b21f2c-54ea-4b2b-ac58-763ffef4d7cc">
          <input type="hidden" name="returnUrl" value="">
          <input type="hidden" name="activationReturnUrl" value="">
          <input type="hidden" name="alreadyactiveurl" value="">
          <input type="hidden" name="activationTemplate" value="">
          <input type="hidden" name="source" value="WebForm">
          <input type="hidden" name="verifyemail" value="false" id="ewf_verifyEmails">
          <input type="hidden" id="ewf_captcha" name="captcha" value="false">
          <input type="hidden" name="sendActivation" value="false">
          <input type="hidden" name="notifyEmail" value="">
          <button type="submit" class="btn btn-primary EWF__subscribe" aria-label="Submit">
              <ion-icon name="chevron-forward-sharp" aria-hidden="true"></ion-icon>
          </button>
      </form>
  </li>
    
   

    <li>
      <ul class="social-list">

        <!-- <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li> -->

        <!-- <li>
          <a href="https://www.instagram.com/triple.g.fitness/" class="social-link" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li> -->

        <!-- <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li> -->

      </ul>
    </li>

  </ul>

  
</footer>


<style>
  .foot-black {
    background-color: black;
  }

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { font-size: var(--fs-6);
 }
.footer-mg {
  margin: 40px;
}

.fooot {
  background-color: #1f2937;
}

.footer-top .container {
  display: grid;
  gap: 50px;
}

.footer .logo { color: var(--white); }

.footer-brand-text { margin-block: 25px; }

.footer-top .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.footer-brand-list li:not(:last-child) { margin-block-end: 15px; }

.footer-brand-title,
.footer-list-title {
  color: white;
  font-family: var(--ff-catamaran);
}

.footer-list-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-800);
  margin-block-end: 28px;
}

.footer-list-title::before {
  bottom: 0;
  color: black;
  width: 70px;
  height: 1px;
  background-color: var(--coquelicot);
}

.input-black {
  color: black !important;
}

.footer-list > li:not(:first-child) { margin-block-start: 12px; }

.footer-link { transition: var(--transition-1); }

.footer-link:not(.address):is(:hover, :focus) { color: var(--coquelicot); }

.footer-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.footer-list-item .icon {
  background-color: var(--coquelicot);
  color: var(--white);
  font-size: 24px;
  padding: 8px;
  border-radius: 50px;
}

.footer-form {
  position: relative;
  margin-block-end: 30px;
}

.footer-form .input-field {
  background-color: var(--white);
  color: var(--rich-black-fogra-29-1);
  padding-block: 18px;
  padding-inline: 30px 80px;
  border-radius: var(--radius-10);
  background-color: white;
}

.footer-form .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0;
  font-size: 26px;
  padding-inline: 12px;
}

.footer-form .btn-primary:is(:hover, :focus) {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--white);
  box-shadow: none;
}

.social-list {
  display: flex;
  gap: 15px;
}


.social-link {
  background-color: var(--white_20);
  color: var(--white);
  padding: 13px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) { background-color: var(--coquelicot); }

.footer-bottom {
  background-color: var(--rich-black-fogra-29-2);
  color: var(--white);
  text-align: center;
  padding-block: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--coquelicot);
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block-start: 10px;
}

.footer-bottom-link {
  padding-inline-start: 20px;
  transition: var(--transition-1);
}

.footer-bottom-link::before {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--coquelicot);
  border-radius: 50%;
}

.footer-bottom-link:is(:hover, :focus) { color: var(--coquelicot); }
 
/**
   * FOOTER
   */
   @media (min-width: 768px) {
   .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom-list { margin-block-start: 0; }


}

@media (min-width: 992px) {
  /**
   * FOOTER
   */

   .footer-top .container {
    grid-template-columns: 0.85fr 0.5fr 1fr 0.85fr;
    column-gap: 50px;
  }

}

@media (min-width: 1200px) {
    /**
   * FOOTER
   */

   .footer-top .container { grid-template-columns: 1fr 0.6fr 0.9fr 1fr; }

  }
</style>