<section class="fooot">
    <footer class="footer text-gray-600 dark:text-gray-400">
        <div class=" inset-x-0 bottom-0 z-20 flex w-full flex-col items-center border-t-2 border-green-300 bg-gray-100 px-4 py-1 dark:border-green-600 dark:bg-gray-800 lg:flex-row lg:px-8 lg:py-4">
        <span class="flex flex-none flex-row items-center">
          <p
            class="ml-2 border-l-2 border-green-300 py-1 pl-2 text-sm text-gray-600 dark:border-green-600 dark:text-gray-300">
            © {new Date().getFullYear()}
            <a
              href="https://elragency.com"
              class="ml-1 text-green-600 hover:text-pink-600 dark:text-green-300 dark:hover:text-pink-300"
              rel="noopener noreferrer"
              target="_blank">
              ELR Agency
            </a>
          </p>
        </span>
        <span class="flex flex-none flex-row items-center">
          <p
            class="text-sm text-gray-600 dark:text-gray-300 lg:ml-4 lg:border-l-2 lg:border-green-300 lg:py-1 lg:pl-4 dark:lg:border-green-600">
            <a
            href="/#contact"
              class="ml-1 text-green-600 hover:text-pink-600 dark:text-green-300 dark:hover:text-pink-300">
              Débutez
            </a>
          </p>
          
          <p
            class="ml-4 border-l-2 border-green-300 py-1 pl-4 text-sm text-gray-600 dark:text-gray-300">
            <a
            href="mailto:elragency@gmail.com"
              class="ml-1 text-green-600 hover:text-pink-600 dark:text-green-300 dark:hover:text-pink-300"
              rel="noopener noreferrer"
              target="_blank">
              Entrez En Contact
            </a>
          </p>
          <p
          class="ml-4 border-l-2 border-green-300 py-1 pl-4 text-sm text-gray-600 dark:text-gray-300">
          <a
          <li>
            <a href="mailto:elragency@gmail.com"" title="Threads">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <image id="image0" width="24" height="24" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
              AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
              cwAADsQAAA7EAZUrDhsAAAAHdElNRQfnCQIMEhAM1bKzAAACMklEQVQ4y43TS2hVVxQG4O/skxgf
              hRpFIQ8t3EFTQtGJJSA68dF4aTRk0HIt6KSExFGhBHXQoXjbUnCajAQVtaUYOwzUFEFDGjqwECS1
              JS3oIKA2j2siEe89HdyTkxt14D/Z7LX+f++19r82b0KXm27q8pboNKRNmyGdb0PPG5QDOYPyr6aj
              dP1Qj3USDQ66b1qMspx2tyyLvDBsclXQ4Ft3TYtQEWXHJBIBiZx9TlumLhXEfjFbc/MmkWc1+7/t
              Ur8qIBFnySYnNWPGFQ/T2JKrnkNIAyGjb3bWnLsmbXXGtjT6juPWrxKPaVNJU4c9EtnjqBn3Hcke
              Z6+eFUG3U+ayRnMeaPedi5ZNac4Es07pJojs99j2rKQ5jZ74xAHNOvyT9bjdE/tFQfBS0ZhCWt6o
              vX7X5F8NIiNphwVjznspBETmndOqX8Bfrjkq9oMBRfMI+uxwzryo2kMQLCpmkl997ZYlFQmCfjsV
              LVYrCBJTnmEhlcR4atx/aTH9WhUtIKkGKsZTj0uKWvXVWBjX0DPDYse1pLuSoha9tsjL26JXi6JS
              7bTWob7G55ILhhxyD18I+tbSV2Ypyez5yKf+9KN72O0zp/1kIstngqrLHyhodMMdZfCHSft8Lu+6
              qRVWHRJlTQreN2KkOpMpym6b8LEvPXBdWUIk+N6SrX7z85ofUYtG3To8tdFAnYoNYt94KKh/jZoo
              i5VcMuorDSoRepwwX/NSq4gsGFTwnoqKd102/D9yw5+6tpjPegAAACV0RVh0ZGF0ZTpjcmVhdGUA
              MjAyMy0wOS0wMlQxMjoxODoxNSswMDowMN2flzwAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjMtMDkt
              MDJUMTI6MTg6MTUrMDA6MDCswi+AAAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDIzLTA5LTAyVDEy
              OjE4OjE1KzAwOjAw+9cOXwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAA
              SUVORK5CYII=" />
              </svg>
            </a>
        </li>
          </a>
        </p>
        <p
        class="ml-4 border-l-2 border-green-300 py-1 pl-4 text-sm text-gray-600 dark:text-gray-300">
        <a
        <li>
            <a href="https://www.linkedin.com/in/edouard-l-458410137/" target="_blank" title="Linkedin">
                <svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                >
                     <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 
                              2v7h-4v-7a6 6 0 0 1 6-6z" 
                     />
                     <rect x="2" y="9" width="4" height="12"/>#
                     <circle cx="4" cy="4" r="2" />
                </svg>
            </a>
        </li>
        </a>
      </p>


        </span>
        
        <span class="mt-2 inline-flex grow justify-center lg:ml-auto lg:mt-0 lg:justify-end">
        </span>
      </div>

  </footer>

  