---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import ContentSection from "~/components/ct-section2.astro";
import astronautImage from "~/assets/mountain.png";
import Bgimage2 from "~/components/bg-image.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---
<section class="relative h-full">

  <div class="p-4 sm:p-8 absolute grid h-full fade-up">
    <ContentSection 
        title="Nous ne vendons pas de services, nous devenons partenaire." 
        id="intro" 
        data-aos="fade-up" 
        data-aos-duration="1000" 
        data-aos-delay="50"
        >
        <h6 class="text-primary text-uppercase">// Notre Spécialité //</h6>
    
        <Fragment class="float-in-on-scroll">
          Vous êtes un spécialiste dans votre domaine ? 
          Nous pouvons vous aider à prendre un virage électronique de façon simple et efficace ! Notre spécialité sont les PME qui cherchent à se développer et sont prêt à travailler aussi fort que nous!
        </Fragment>
        <div class="flex justify-center"> <!-- Flex container to center the button horizontally -->
          <a href="#contact" 
              class="inline-block btn-small text-white bg-red-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-4 py-1 text-center dark:text-white dark:focus:ring-purple-900 btn2">
              SE METTRE EN LIGNE
          </a>
      </div>
      

        <script>
document.addEventListener('scroll', function() {
  let title = document.querySelector('.fade-up');
  let rect = title.getBoundingClientRect();

  // Check if the title is in the viewport
  if (rect.top >= 0 && rect.bottom <= window.innerHeight) {
    title.classList.add('active');
  }
});
        </script>

    </ContentSection>
  </div>
</section>
