---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import astronautImageBig from "~/assets/mc-v3.png";
import astronautImageSmall from "~/assets/mac-small.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import Backgroundimage from "~/assets/backgroundv3.png";

import "~/styles/index.css";



const widths = [450, 800]; // This represents the actual widths of the images
const sizes = "(min-width: 640px) 800px, 450px"; // This will select 800px width image when viewport is >= 640px and 450px width image otherwise.

---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
      <!-- <HeroImage /> -->
  </div>

  <!-- Container for Agency text, Picture, and Button -->
  <div class="relative grid h-full place-items-center sm:grid-cols-1"> <!-- Ensure this container takes up the full height of its parent -->

      <!-- Background Text: ELR and Agency for mobile -->
      <div class="flex flex-col items-center justify-center z-10 space-y-4 sm:hidden mt-20" > <!-- sm:hidden ensures it's only shown on small screens -->
          <div class="gradient-text text-center font-extrabold tracking-tighter urmom text-5vw"></div>
          <!-- <div class="gradient-text text-center font-extrabold tracking-tighter urmom text-20vw ">Agence</div> -->
      </div>

      <!-- Background Text: Agency for larger screens -->
      <div class=" background-text gradient-text text-center font-extrabold tracking-tighter urmom absolute inset-0 flex items-center justify-center w-screen h-screen text-20vw z-0 big-hidden sm:flex sm:items-center">
          Agence
      </div>

      <!-- Picture and Button -->
      <div class="flex flex-col items-center justify-center z-10 space-y-4 marginal sm:mt-0"> <!-- Adjusted margin for mobile view -->

          <div class="background-text-container relative w-full" id="astronaut">
              <div class="responsiveAstronaut small-screen-padding  ">
                  <Picture
                      class="h-full w-full object-cover urmom ontop-image relative z-10"
                      src={astronautImageBig}
                      srcset={`${astronautImageBig} 800w`}
                      widths={widths}
                      sizes={sizes}
                      loading="eager"
                      alt="Un ordinateur avec logo de L'agence ELR"
                  />
              </div>
              <br>
              <div class="flex justify-center">
                <a href="#contact" 
                class="inline-block btn-small text-white bg-red-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-4 py-1 text-center dark:text-white dark:focus:ring-purple-900 btn2">
                SE METTRE EN LIGNE
             </a>
              </div>
              <br>
          </div>
      </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
   
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
  .ontop-image {
  z-index: 2;
}
</style>
