			<!-- About Start -->
            <section class="marginnnn p-4">
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-lg-6">
                                <h6 class="text-primary text-uppercase">// About Us //</h6>
                                <h1 class="mb-4"><span class="text-primary">ELR Agency</span> Is the Best Ally of SMEs </h1>
                                <p class="mb-4"> Our goal is to provide you with all the tools necessary to enable you <span class="text-primary">to move to the next level</span> without complications.</p>
                                <div class="row g-4 mb-3 pb-3">
                                    <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                        <div class="d-flex">
                                            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                                <!-- <span class="fw-bold text-secondary">01</span> -->
                                            </div>
                                            <div class="ps-3">
                                                <h6 class="fw-bold text-secondary">Step #1: We understand your needs and your business</h6>
                                                <span>We understand what you do, your specialization and your different services in order to offer you a service adapted to your needs.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                        <div class="d-flex">
                                            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                                <!-- <span class="fw-bold text-secondary">02</span> -->
                                            </div>
                                            <div class="ps-3">
                                                <h6 class="fw-bold text-secondary">Step #2: We create your digital identity</h6>
                                                <span>Based on what we discovered, we create a website and brand identity modeled on your own vision.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                        <div class="d-flex">
                                            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                                <!-- <span class="fw-bold text-secondary">03</span> -->
                                            </div>
                                            <div class="ps-3">
                                                <h6 class="fw-bold text-secondary">Step #3: We Get You Customers</h6>
                                                <span>Once your agreement is received, we put your site and social networks online and work to get you customers.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/elr" class="btn btn-primary">Learn more!<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About End -->
            
            <style>
                .marginnnn {
                    margin: 40px;
                }
                .greeen {
                    font-size: large;
                }
            </style>