<section class="pricing-card" style="margin: 30px">
    <div class="container">
        <div class="intro-text">
        <div class="switch-wrapper">
          <input id="monthly" type="radio" name="switch" checked>
          <input id="yearly" type="radio" name="switch">
          <label for="monthly">Monthly</label>
          <label for="yearly">Annually</label>
          <span class="highlighter"></span>
        </div>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>
                  <div>
                    Choose Your Plan
                    <div class="svg-wrapper">
                      <svg viewBox="0 0 24 24">
                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 17v-4h-8v-2h8v-4l6 5-6 5z" />
                      </svg>
                      <span class="testi">
                        Save up to 20% by paying annually!
                      </span>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="heading">Basic</div>
                  <div class="info">
                    <div class="price monthly">
                      <div class="amount">$59.99 <span>month</span></div>
                    </div>
                    <div class="price yearly hide">
                      <div class="amount">$49.99 <span>month</span></div>
                      <div class="billing-msg">Billed yearly</div>
                    </div>
                    <a href="#contact" >
                        <button type="button">Start Now!</button>
                    </a>
                  </div>
                </th>
                <th>
                  <div class="heading">Essential</div>
                  <div class="info">
                    <div class="popular">Populaire</div>
                    <div class="price monthly">
                      <div class="amount">$99.99 <span>month</span></div>
                    </div>
                    <div class="price yearly hide">
                      <div class="amount">$89.99 <span>month</span></div>
                      <div class="billing-msg">Billed yearly</div>
                    </div>
                    <a href="#contact" >
                        <button type="button">Start Now!</button>
                    </a>
                  </div>
                </th>
                <th>
                  <div class="heading">Professional</div>
                  <div class="info">
                    <div class="price monthly">
                      <div class="amount">$199.99 <span>month</span></div>
                    </div>
                    <div class="price yearly hide">
                      <div class="amount">$189.99 <span>month</span></div>
                      <div class="billing-msg">Billed yearly</div>
                    </div>
                    <a href="#contact" >
                        <button type="button">Start Now!</button>
                    </a>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Design / Redesign (2 pages)</td>
                <td>
                  <svg class="starter" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="essential" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="professional" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td>Website Hosting</td>
                <td>
                  <svg class="starter" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="essential" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="professional" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td>Setting up the domain name</td>
                <td>
                  <svg class="starter" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="essential" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="professional" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td>Contact Form</td>
                <td>
                  <svg class="starter" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="essential" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="professional" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td>Writing Website Content(1 000 words)</td>
                <td>
                  <svg class="not-included" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="essential" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="professional" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td>Appointment booking system</td>
                <td>
                  <svg class="not-included" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" />
                  </svg>
                </td>
                <td>
                  <svg class="not-included" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="professional" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td>SEO Optimization</td>
                <td>
                  <svg class="not-included" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" />
                  </svg>
                </td>
                <td>
                  <svg class="not-included" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
                <td>
                  <svg class="professional" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td>Clients Tracking (GA4)</td>
                <td>
                  <svg class="not-included" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" />
                  </svg>
                </td>
                <td>
                  <svg class="not-included" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" />
                  </svg>
                </td>
                <td>
                  <svg class="professional" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</section>

<style>
    .testi {
        font-size: 80%;
    }
</style>